*{
    font-family: "League Spartan", sans-serif;
}

header{
    background-color: #EA9AB2;
}

.nav-item a{
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: white;
    background-color: #337357;
}

.nav {
    --bs-nav-link-hover-color: #337357;

}

.nav-link{
    color: white;
}

.about-me{
    background-color: #FFDBE5;
}

.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #6D9F71;
    --bs-btn-border-color: #6D9F71;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #337357;
    --bs-btn-hover-border-color: #337357;
    --bs-btn-active-bg: #337357;
    --bs-btn-active-border-color: #337357;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #337357;
    --bs-btn-disabled-border-color: #337357;
}

.img-about-me{
    width: 400px;
}

#skills{
    background-color: #E27396;
}

#projects{
    background-color: #6D9F71;
}

#projects h2{
    color: white;
}

.img-project1{
    background-image: url('/assets/clon-pinterest.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.img-project1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    pointer-events: none; 
}
.img-project1 .d-flex.flex-column {
    position: relative;
    z-index: 2; 
}

.img-project2{
    background-image: url('/assets/spider-clue-mockup.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.img-project2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    pointer-events: none; 
}
.img-project2 .d-flex.flex-column {
    position: relative;
    z-index: 2; 
}
.img-project3{
    background-image: url('/assets/cyclecare.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.img-project3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    pointer-events: none; 
}
.img-project3 .d-flex.flex-column {
    position: relative;
    z-index: 2; 
}

.testimonials{
    background-color: #337357;
}